
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">{{ .title }}</h1>
				<hr>

        {{ with .texts }}
          {{ $texts_length := len . }}
          {{ range . }}
          <div class="col-lg-{{ div 12 $texts_length }}">
  					<p>{{ . }}</p>
  				</div><!-- col-lg-6 -->
          {{ end }}
        {{ end }}
        {{ with .text }}
  				<div class="col-lg-6 col-lg-offset-3">
            <p>{{ . }}</p>
          </div>
        {{ end }}
			</div><!-- row -->
		</div><!-- container -->
